[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git

[submodule ".vim/bundle/dracula"]
	path = .vim/bundle/dracula
	url = git@github.com:dracula/vim.git
